<div class="education">
    <ul>
       <li>
           <i class="fa fa-university" style="margin-right: 5px;"></i>
           <span style="font-weight: bold;">{{education!.title}}</span>  
           <span style="font-weight: bold; display: block;">
            <i class="fa fa-circle" style="font-size:7px;margin: 5px 5px 5px 20px;"></i>
            {{education!.level}}</span>  
       </li>
       <div class="details" *ngIf="isOwner">
        <div class="delete" ><i class="fa fa-trash fa-lg" aria-hidden="true" (click)="showDeleteEducationModal(deleteEducationModalTemplate)"></i></div>
        <span (click)="openD()"><div class="edit"><i class='fa fa-edit fa-lg' (click)="send()"></i> 
        </div>
        </span>
       </div>
    </ul>
</div>

<ng-template #deleteEducationModalTemplate>
    <div>
      <div class="modal-body">
        <strong> Are you sure you want to delete this education?</strong>
        <br> action will permanently remove the content and cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="border-radius: 5px;" data-dismiss="modal" (click)="deleteEducationCancelled()">no</button>
        <button type="button" class="btn btn-danger"  style="border-radius: 5px;"  (click)="deleteEducation()">yes</button>
      </div>
    </div>
  </ng-template>