a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}  
  .nav-link{
    font-family: Montserrat, sans-serif;
    color:#EEEEEE;
    font-size: 12px;
}
html {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    color: #EEEEEE;
  }
  
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
    .nav-link{
       
        font-size: 16px;
    
    }
  }
  a:hover {
    color:#00ADB5;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  a:focus{
    color: #EEEEEE;
  }

