<div id="htmlData">
    <div id="page-wrap">

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="title text-center">
                        <h1>{{user.firstName+ " "+ user.lastName}}</h1>
                        <h3>Fullstack Developer</h3>
                        <h4><a href="http://neoelemento.com">neoelemento.com</a></h4>
                        <hr />
                        <ul class="list-inline">
                            <li><i class="devicon-laravel-plain colored"></i></li>
                            <li><i class="devicon-javascript-plain colored"></i></li>
                            <li><i class="devicon-html5-plain colored"></i></li>
                            <li><i class="devicon-angularjs-plain colored"></i></li>
                            <li><i class="devicon-linux-plain"></i></li>
                        </ul>
                    </div>

                    <!-- summary section -->
                    <div class="summary" *ngIf="user.summary.length">
                        <h2 class="text-center">Summary</h2>
                        <p>{{user.summary}}</p>
                    </div>

                    <!-- work experience section -->
                    <div class="work-experience" *ngIf="experiences.length">
                        <h2 class="text-center">Work Experience</h2>
                        <div *ngFor="let experience of experiences">
                            <div class="row experience-title" >
                                <div class="col-md-9">
                                    <h4>{{experience.title}}</h4>
                                </div>
                                <div class="col-md-3">
                                    <h3>{{experience.experienceDate}}</h3>
                                </div>
                            </div>
                            <div class="row experience-summary">
                                <div class="col-md-12">
                                    <p>{{experience.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="work-experience" *ngIf="educations.length">
                        <h2 class="text-center">Education</h2>
                        <div *ngFor="let education of educations">
                            <div class="row experience-title" >
                                <div class="col-md-9">
                                    <h4>{{education.title}}</h4>
                                </div>
                                <div class="col-md-3">
                                    <h3>{{education.level}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="work-experience" *ngIf="skills.length">
                        <h2 class="text-center">Skills</h2>
                        <div *ngFor="let skill of skills">
                            <div class="row experience-title" >
                                <div class="col-md-9">
                                    <h4>{{skill.title}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="work-experience" *ngIf="projects.length">
                        <h2 class="text-center">Projects</h2>
                        <div *ngFor="let project of projects">
                            <div class="row experience-title" >
                                <div class="col-md-9">
                                    <h4>{{project.title}}</h4>
                                </div>

                                <div class="row experience-summary">
                                    <div class="col-md-12">
                                        <p>{{project.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>
<div class="col-md-4 text-right">
    <button class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button>
</div>