<span (click)="openD()">
</span>
<div id="editpost" class="modalDialogP">
  <div>
    <span (click)="closeD()" title="Close" class="closeP">X</span>
   
    <input type="text" placeholder="add comment" class="searchbar" [(ngModel)]="comment">
    <div style="width: 200px;height: 200px; overflow: auto;">    <h5 *ngFor="let comment of comments">{{comment.content}}</h5>
    </div>
    <!-- [(ngModel)]="post!.title" -->
    <!-- <input type="text" placeholder="level" class="searchbar"> -->
    <button class="save" (click)="addComment()">
      <span  style="text-decoration: none; color: #2D2747;">Save</span>
    </button>
  </div>
</div>