<div class="search-box" (click)="openD()">
    <!-- <button> <i class='fa fa-search' style="font-size:25px"></i>Serach</button> -->
        <input autocomplete="off" type="search" class="form-control rounded" placeholder="Search"
            style="min-width: 125px;" [(ngModel)]="mylistFilter" />
</div>
<div class="search-result">
    <div>
        <span title="Close" class="closeAS" (click)="closeD()">X</span>
        <h4>Result</h4>
        <div class="reactions" *ngFor="let user of users">
            <ul (click)="closeD()">
                <span style="display: flex;">
                    <span>
                      <a href="" [routerLink]="['/profile', user.userName]"> <img [src]="user.profileImage"
                          class="userImg"></a>
                    </span>
                    <a href="" [routerLink]="['/profile', user.userName]">
                      <h6 class="text-body">
                        <span class="big">{{user.firstName}} {{user.lastName}}<span *ngIf="user.specialization"
                            style="font-size: 0.8rem; margin-left=4px;"> || {{user.specialization}}</span></span>
                        <br>
                        <span class="big text-muted font-weight-normal" style="font-size: 0.8rem;">{{user.userName}}</span>
                        <br>
                      </h6>
                    </a>
                  </span>
                <hr class="separateLike">

            </ul>
        </div>
        <!-- <p>This modal box is created using the powers of CSS3.</p> -->
    </div>
</div>


