a{
  text-decoration: none;
  color: #686868;
}


.postContainer{
  width: 700px;
text-align: center;
margin: 1rem;
padding: 0;

box-shadow: 0 2px 8px rgba(156, 156, 156, 0.4); /* ظل للدايلوج */
} 


.reacts,.reactspan {
  border: 0;
  font-size: 1.2rem;
  
  color: #686868;
  background-color: transparent;
  border-radius: 3px;
  padding: 10px;
  width:210px;
  height: 60px;
 
}
hr{
  margin-bottom: 3px;
  margin-top:  0px; ;
}
.mainhr{
  width: 700px;
  margin: auto;
  color:#000000 ;
  text-align: center;
 
}

.reacts:hover {
  animation: 50ms;
  background-color: rgba(231, 231, 231, 0.658);
}
.caption-text{
  text-align:left;
  font-size: 1.1rem;
}
.textbox{
  margin: 0px 12px 12px 24px;
  width: 700px;
  display: flex;

}
.card-title{
  margin: 0;
  display: flex;
}
.mediaPost{
  margin: 0;
  width: 700;
  justify-content: center;
}


.userImg {
justify-content: left;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  object-fit: contain;
  margin: 12px 8px 12px 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}


.liked{
  color: #068FFF ;


}

.likehover:hover{
  animation: 50ms;
  color: #068FFF ;



}

.custom-dialog-container {
  background-color: white;
  border-radius: 4px;
  padding: 20px;
}
.dialog {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* خلفية دايلوج شفافة مع لون أسود بنسبة انعكاس 50٪ */
}

.dialog-content {
  
  background-color: #fff; /* لون خلفية الدايلوج */
  padding: 20px; /* هوامش داخلية للمحتوى */
  border-radius: 5px; /* نصف قطر الحواف */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* ظل للدايلوج */
}

.dialog {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* خلفية دايلوج شفافة مع لون أسود بنسبة انعكاس 50٪ */
}.showDialog{

  display: none;
}

.closeP {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
  }

  .text-body{
    text-align: left;
    margin-top: 18px;


  }
  .number {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
  }
  .numberOfLikes{
    margin: 12px 20px;
    display: flex;
    align-items: center;
    

  }
  
  .numberOfComment{
    margin: 12px 20px;
    display: flex;
  align-items: center;
  justify-content: flex-end;
 

  }
  .numberOfComment2,.numberOfComment:hover{
    animation: 50ms;
    cursor: pointer;
  
  }

  .numberOfComment2{
    margin: 12px 20px;
    text-align: right;
    align-items: center;
  }

  
   
  
  .numberOfComment span:first-child {
    margin-right: 7px;
  }
  
  .commentimg{
    margin:3px 8px 8px 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);

  }
  .commentDetails{
    margin: 3px 8px 8px 8px;
    display: flex;
    align-items: center;
  
  }
  .commentDetails-body{
    text-align: left;
    margin-top: 8px;


  }