<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="card">
            <div class="row px-3">
                <!-- <img class="profile-pic mr-3" src="https://i.imgur.com/6tPhTUn.jpg"> -->
                
                <div class="text-center" >
                    <span>
                        <img  class="profile-pic mr-3" [src]="user.profileImage" alt="user" />
                    </span>
                    
                    <span>
                    <h3 class="mb-0 font-weight-normal" style="color: #222831;">{{user.firstName+ " "+ user.lastName}}</h3>
                    </span>
                </div>
            </div>
            <div class="row px-3 form-group">
                <textarea class="text-muted bg-light mt-4 mb-3" placeholder="Hi {{user.firstName}}, what's on your mind today?"[(ngModel)]="newPost.content"></textarea>
            </div>
            
            <span><div class="reacts"  >
                <i class="bi bi-image" style="color:green"></i>
                <span class="reactspan">Photo</span>
                <input type="file" class="form-control" id="image" (change)="eventl($event)" />

            </div></span>
             <span><div class="reacts">
                        <i class="bi bi-play-btn-fill"  style="color:darkred"></i>
                        <span class="reactspan">Video</span>
                        <input type="file" class="form-control" id="image" (change)="event2($event)" />
                    </div></span>
            <div class="options-container">
                <span  class="left-options">
                    <div class="btn btn-cancele ml-auto" (click)="cancele()">Cancele</div>
                </span>
                <!-- <img class="options" src="https://img.icons8.com/material/24/000000/more--v2.png" width="30px" height="28px"> -->
                <div class="btn btn-success ml-auto" (click)="CreatePost()" >{{btnText}}</div>
            </div>
        </div>
    </div>
</div>