.edit {
    color: #231E39;
	background-color: #FEBB0B;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	display: inline;
	margin-left: 5px;	
}

.edit:hover {
    color: #03BFCB;
}

.modalDialogUEX {
	position: fixed;
	font-family: Montserrat, sans-serif;
	font-weight: bold;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.1);
	z-index: 99999;
	opacity: 0;
	transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialogUEX:target {
	opacity: 1;
	pointer-events: auto;
}
.modalDialogUEX > div {
	color:#000;
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: linear-gradient(#2edbe8, #01a6b2);
}
.closeUEX {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 12px;
	border-radius: 12px;
	box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.closeUEX:hover {
	background: #6ed1d8;
}

/* search start */
.searchbar {
    font-size: 12px;
    width: 15rem;
    height: 2rem;
    border: none;
    outline: none;
    border-radius: 10rem;
    padding: 10px;
    transition: all .1s;
    transition-delay: .1s;
	margin-bottom: 10px;
}
/* search end */
.save {
	display: block;
	background-color: #03BFCB;
	border: 1px solid #231E39;
	border-radius: 10px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: bold;
	padding: 5px 25px;
    margin: 2px;
}
.save:hover {
	box-shadow: 0px 10px 5px #231E39 ;
}