<div class="container d-flex justify-content-lift align-items-lift">

    <div class="card">

        <div class="upper">

            <div class="cover"></div>

        </div>

        <div class="user text-center">

            <div class="profile">

                <img [src]="user.profileImage" class="imagProfile" width="80">

            </div>

        </div>


        <div class="mt-5 text-center">

            <h4 class="mb-0">{{user.firstName}} {{user.lastName}}</h4>

            <span class="text-muted d-block mb-2">{{user.specialization}}</span>
            <hr>
            <span class="text-muted d-block mb-2"><i class="bi bi-geo-alt-fill"></i> {{user.address}}</span>

            <hr>


            <div class="d-flex justify-content-between align-items-center mt-4 px-4">

                <div class="stats">
                    <h6 class="mb-0">Followers</h6>
                    <span>{{user.numberOfFollowers}}</span>

                </div>


                <div class="stats">
                    <h6 class="mb-0">Followings</h6>
                    <span>{{user.numberOfFollowings}}</span>

                </div>


                <div class="stats">
                    <h6 class="mb-0">Posts</h6>
                    <span>{{user.numberOfPosts}}</span>

                </div>

            </div>

            <div class="text-muted d-block mb-2">   


            </div>

        </div>

    </div>

</div>