<div class="container d-flex justify-content-lift align-items-lift">

    <div class="card">

        <div class="upper">

            <div class="cover"></div>

        </div>

        <div class="user text-center">

            <div class="profile">
                <a href="" [routerLink]="['/profile', user.userName]">
                    <img [src]="user.profileImage" class="imagProfile" width="80">
                </a>
            </div>

        </div>


        <div class="mt-5 text-center">
            <a href="" [routerLink]="['/profile', user.userName]">
                <h4 class="mb-0">{{user.firstName}} {{user.lastName}}</h4>
            </a>
            <span class="text-muted d-block mb-2">{{user.specialization}}</span>
            <hr>

            <div class="d-flex  align-items-center mt-4 px-4">

                <a [routerLink]="['/followers', user.id ]" class="following">
                    <div class="stats" style="margin: 0; padding: 0;">
                        <h6 class="mb-0" style="  margin: 5px 5px 5px 0;">Followers </h6 >
                        <span>{{user.numberOfFollowers}}</span>

                    </div>
                </a>

                <a [routerLink]="['/followings', user.id ]" class="following">
                    <div class="stats">
                        <h6 class="mb-0" style="  margin: 5px 5px 5px 0;">Followings</h6>
                        <span>{{user.numberOfFollowings}}</span>


                    </div>
                </a>


            <a [routerLink]="['/my-posts', user.id ]" class="following">
                <div class="stats" >
                    <h6 class="mb-0" style="  margin: 5px 5px 5px 0;">Posts</h6>
                    <span>{{user.numberOfPosts}}</span>

                </div>
            </a>

            </div>
            <hr>
            <span class="text-muted d-block mb-2" *ngIf="user.address"><i class="bi bi-geo-alt-fill"></i>
                {{user.address}}</span>
            <span class="text-muted d-block mb-2" *ngIf="user.summary"> {{user.summary}}</span>



            <div class="text-muted d-block mb-2">


            </div>

        </div>

    </div>

</div>