<div id="editproject" class="modalDialogUP">
    <div>
      <span (click)="closeD()" title="Close" class="closeUP">X</span>
      <h2>Edit Project</h2>
      <input type="text" placeholder="title" class="searchbar" [(ngModel)]="project!.title">
      <input type="text" placeholder="Description" class="searchbar" [(ngModel)]="project!.description">
      <input type="text" placeholder="link" class="searchbar" [(ngModel)]="project.link">
      <button class="save" (click)="updateProject()" (click)="closeD()">
        <span style="text-decoration: none; color: #ffffff;">Save</span>
      </button>
    </div>
  </div>
  