.edit {
    color: #222831;
    background-color: #00ADB5;
    border-radius: 3px;
    font-size: 16px;
    padding: 3px 7px;
    display: inline;
    margin-left: 5px;
  }
  
    .edit:hover {
      color: #00ADB5;
    }
  
  .modalDialogUP {
    position: fixed;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 99999;
    opacity: 0;
    transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
  }
  
    .modalDialogUP:target {
      opacity: 1;
      pointer-events: auto;
    }
  
    .modalDialogUP > div {
      color: #222831;
      width: 400px;
      position: relative;
      margin: 10% auto;
      padding: 5px 20px 13px 20px;
      border-radius: 10px;
      background: #00ADB5;
    }
  
  .closeUP {
    background: #222831;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #3b3b3bbb;
    box-shadow: 1px 1px 3px #3b3b3bbb;
  }
  
    .closeUP:hover {
      background: #00ADB5;
    }
  
  /* search start */
  .searchbar {
    font-size: 16px;
    width: 15rem;
    height: 2rem;
    border: none;
    outline: none;
    border-radius: 10rem;
    padding: 10px;
    transition: all .1s;
    transition-delay: .1s;
    margin-bottom: 10px;
  }
  .searchbar:hover {
    width: 15.3rem;
    height: 2.3rem;
    box-shadow: 3px 3px 5px #222831be;
  }
  
  /* search end */
  .save {
    display: block;
    background-color: #222831;
    border-radius: 10px;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    padding: 5px 25px;
    margin: 2px;
  }
  
    .save:hover {
      box-shadow: 3px 3px 5px #222831af;
    }
  