<header class="customNav">
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom" [ngClass]="{ 'sticky': isSticky }"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">MediaLink</a>
      <app-search-user></app-search-user>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link" [routerLink]="['/home']" >Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/counter']">Counter</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/fetch-data']">Fetch data</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/todo']">Todo</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isAuthenticated | async">
            <a class="nav-link" [routerLink]="['/profile', userName | async]">Profile</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/token']">JWT</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/job-list']" *userHasRole="'company'">Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api" target="_blank">API</a>
          </li>
        </ul>
        <app-login-menu></app-login-menu>
      </div>
    </div>
  </nav>
</header>
