body {
	margin-top: 20px;
	background-color: #f0f2f5;
}

.dropdown-list-image {
	position: relative;
	height: 2.5rem;
	width: 2.5rem;
}

.dropdown-list-image img {
	height: 2.5rem;
	width: 2.5rem;
}

.btn-light {
	color: #2cdd9b;
	background-color: #e5f7f0;
	border-color: #d8f7eb;
}

.container {
	position: absolute;
	top: 10%;
	left: 16%;
}
.Check{
	position: absolute;
	right: 2%;
}

button.primary {
	background-color: #00ADB5;
	border: 1px solid #00ADB5;
	border-radius: 3px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	font-family: Montserrat, sans-serif;
	padding: 10px 25px;
	margin: 5px 10px 5px 10px;
  
  }
  
  button.primary:active {
	background-color: transparent;
	color: #00ADB5;
	margin: 5px;
  }