
.group-jobs {
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;

}
h4 {
    margin: 5px 0;
    margin-bottom:10px ;
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;
    text-transform: uppercase;
}

.group-jobs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.group-jobs ul li {
    display: inline-block;
    font-size: 16px;
    margin: 0 7px 7px 0;
    padding: 7px;
}