<div class="container d-flex justify-content-lift align-items-lift">

    <div class="card">

        <div class="upper">

            <div class="cover"> Ad space 1</div>


        </div>
        <div class="upper" style="margin-top: 10px;">

            <div class="cover"> Ad space 2</div>


        </div>
        <div class="upper" style="margin-top: 10px;">

            <div class="cover"> Ad space 3</div>


        </div>

        <div class="text-center " style="display: flex; justify-content: center;" >

            <a class="whatsapp" target="_blank" href="https://wa.me/+905349221479"><i class="bi bi-whatsapp" style="margin-right: 6px;"> </i>  Call us </a>
        </div>



    </div>

</div>