hr{
    width: 700px;
    margin: auto;
    color:#000000 ;
   
}
.homeContainer {
	position: absolute;
	top: 8%;
	left: 16%;
  background-color: #EEE;
}


@media (max-width: 1299px) {
    .col1{
      display: none;
    }
    .col3{
      display: none;
    }
  }
  
  @media (min-width: 1300px) {
    .homeContainer {
      display:flex;
      justify-content:space-around;
    }
    .col1{
      position:sticky;
    }
  }
  
