<div class="card postContainer">

    <div class="card-body">
        <div class="textbox" (click)="showNewPostModal(newPostModalTemplate)">
            <span>
                <a href="" [routerLink]="['/profile/',user.userName]">  <img [src]="user.profileImage" class="userImg"></a>
            </span>
            <span><button class="startAPost  text-muted">
                Hi {{user.firstName}}, what's on your mind today?
                </button></span>
    
        </div>
        
        <span><button class="reacts" (click)="showNewPostModal(newPostModalTemplate)" >
                <i class="bi bi-image" style="color:green"></i>
                <span class="reactspan">Photo</span>
            </button></span>
        <span><button class="reacts" (click)="showNewPostModal(newPostModalTemplate)">
                <i class="bi bi-play-btn-fill"  style="color:darkred"></i>
                <span class="reactspan">Video</span>
            </button></span>
        <span *ngIf="user.role=='admin'"><button class="reacts">
                <i class="bi bi-briefcase-fill"></i>
                <span class="reactspan">Job</span>
            </button></span>

    </div>

</div>
<ng-template #newPostModalTemplate>
    <div class="modal-body">
        <app-write-post [user]="user" (postSucceeded)="newPostCancelled()"></app-write-post>
    </div>
</ng-template>