<div class="card postContainer">

    <div class="card-body">
        <div class="textbox">
            <span>
                <img src="" class="userImg">
            </span>
            <span><button class="startAPost">
                    start a post
                </button></span>
        </div>
        <span><button class="reacts">
                <i class="bi bi-image"></i>
                <span class="reactspan">Photo</span>
            </button></span>
        <span><button class="reacts">
                <i class="bi bi-play-btn-fill"></i>
                <span class="reactspan">Video</span>
            </button></span>
        <span><button class="reacts">
                <i class="bi bi-briefcase-fill"></i>
                <span class="reactspan">Job</span>
            </button></span>

    </div>

</div>